
<html>
    <thead>
        <title>Table Time</title>
    </thead>
    
    <tbody>
        
        <table border="1px">
            
                <tr>
                    <td>King Kong</td>
                    <td>1933</td>     
                </tr>
                
                <tr>
                    <td>Dracula</td>
                    <td>1897</td>
                </tr>
                
                <tr>
                    <td>Bride of Frankenstein</td>
                    <td>1935</td>
                </tr>
            
        </table>
        <p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @tweet.body %>
</p>

<p>
  <b>Stars:</b>
  <%= @tweet.stars %>
</p>
<p>
	
  <%= link_to "Tweet it now!", "https://twitter.com/intent/tweet?text=#{@tweet.body}" %>
</p>


<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
    </tbody>

</html>

